:root {
    --p1-color: #9487d4;
    --p2-color: #FF4EF0;
}

body {
    background-color: rgba(30, 30, 30, 1);
}

div {
    display: inline-flex;
}

.text {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.highlight {
    font-size: xx-large;
    font-weight: bold;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    margin-left: 5px;
    border-radius: 10px;
}

.progress-bar {
    display: flex;
    border-radius: 50px;
    background: #00000080;
    box-shadow: inset 0 0 10px 0px black;
    place-items: center;
}

.ratio {
    font-size: large;
    margin-left: 0.5%;
    position: absolute;
    
}

.progress-fill {
    height: 100%;
    border-width: 1px;
    border-radius: 50px;
    
}

.grid-left {
    justify-self: left;
}

.grid-right {
    justify-self: right;
}

#card {
    width: 1024px;
    height: 256px;
    padding: 10px;
    display: grid;
    grid-template-columns: 256px 1fr;
    grid-template-rows: 256px;
    border-radius: 10px;
    background-color: #0000009F;
    background-blend-mode: overlay;
    background-size: cover;
}

#avatar-container {
    display: grid;
    place-items: center;
}

#avatar {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    filter: drop-shadow(0 0 5px white);
}

#info-container {
    padding: 25px;
    display: grid;
    gap: 1%;
    grid-template-rows: 24% 32% 42%;
}

#header {
    display: flex;
    /* justify-content: space-between; */
    /*align-items: center;*/
    align-items: center;
    overflow: hidden;
}

#lvl1 {
    background-color: var(--p1-color);
}

#lvl2 {
    background-color: var(--p2-color);
}

#info {
    font-size: 150%;
    display: grid;
    row-gap: 20%;
    align-items: center;
    grid-template-rows: 40% 40%;
    grid-template-columns: 50% 50%;
    padding: 2%;
}

#name {
    font-weight: bold;
    flex-grow: 1;
    font-size: 300%;
    align-self: normal;
    overflow: hidden;
}

#icon {
    width: 20px;
    height: 20px;
    aspect-ratio: 1;
    padding-right: 5px;
    align-self: center;
    overflow: hidden;
    filter: invert();
}


#progress {
    display: grid;
    gap: 10%;
    grid-template-rows: 45% 45%;
}

#p1 {
    background-color: var(--p1-color);
    filter: drop-shadow(0 0 5px var(--p1-color));
}

#p2 {
    background-color: var(--p2-color);
    filter: drop-shadow(0 0 5px var(--p2-color));
}