:root {
    --bar1-color: #00ffff;
    --bar2-color: #ff00ff;
    --bar-default-color: salmon;
}

.user-card {
    /* Metrics */
    width: 512px;
    height: 128px;
    border: 10px solid;
    /* Visual */
    background-color: #454545;
    border-color: #636363;
    /* Alignment */
    display: inline-flex;
    align-items: stretch;
}

.container {
    /* Alignment */
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.header {
    /* Measurements */
    width: 95%;
    /* Alignment */
    display: inline-flex;
    align-items: center stretch;
    justify-content: space-between;
    /* Visual */
    overflow: hidden;
}

.avatar-display {
    /* Metrics */
    width: 90%;
    height: 90%;
    margin: 5%;
    /* Border */
    box-sizing: border-box;
    border-radius: 50%;
    border-style: outset;
    border-width: 5px;
    border-color: white;
}

.username-display {
    /* Measurements */
    width: fit-content;
    margin: 1%;
    /* Text */
    color: white;
    font-size: x-large;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* Visual */
    overflow: hidden;
}

.level-display {
    /* Measurements */
    width: fit-content;
    margin: 1%;
    /* Text */
    color: white;
    font-size: small;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* Visual */
    background-color: var(--bar-default-color);
    /* Border */
    border-radius: 10px;
    /* Alignment */
    align-self: center;
}

.progress-bar {
    /* Metrics */
    width: 95%;
    height: 20%;
    /* Border */
    overflow: hidden;
    border-radius: 50px;
    /* Visual */
    background-color: grey;
}

.progress-fill {
    /* Metrics */
    width: 10%;
    height: 100%;
    /* Border */
    border-radius: 50px;
    /* Visual */
    background-color: var(--bar-default-color);
}