.user-card {
    /* Metrics */
    width: 512px;
    height: 128px;
    /* Alignment */
    display: inline-flex;
    align-items: stretch;
    /* Visual */
    background-image: url('https://media.discordapp.net/attachments/1123708358004834396/1251163267825405952/042097c56404d025c0c266b21a5fb0c46f8b320c.png?ex=666d9418&is=666c4298&hm=44d315e25dad89acca04120b362703a61dc45dd1d93e62ab01dbb19ad167bad7&=&format=webp&quality=lossless&width=512&height=386');
    background-blend-mode: overlay;
    /* Colors */
    background-color: #00000080;

}

.pfp_block {
    width: 25%; 
    /* Alignment */
    display: flex;
    align-items: center;
    justify-content: center;
}

.info_block {
    width: 75%;
     /* Alignment */
     display: flex;
     flex-wrap: wrap;
     align-items: flex-start;
     justify-content: space-evenly;
}


.header {
    /* Measurements */
    width: 95%;
    height: 30%;
    /* Alignment */
    display: inline-flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.avatar-display {
    /* Metrics */
    width: 90%;
    height: 90%;
    margin: 5%;
    /* Border */
    border-radius: 50%;
    /* Shadow */
    box-shadow: 0 0 15px 0px white;
}

.username-display {
    /* Measurements */
    width: fit-content;
    height: auto;
    margin: 1%;
    margin-left: 0;
    /* Text */
    font-size: 120%;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* Visual */
    overflow: hidden;
    /* Colors */
    color: white;
}

.level-display {
    /* Measurements */
    width: fit-content;
    padding: 1%;
    margin: 1%;
    margin-right: 0;
    /* Text */
    font-size: small;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* Border */
    border-radius: 10px;
    /* Colors */
    color: white;
}

.progress-bar {
    /* Metrics */
    width: 95%;
    height: 20%;
    /* Border */
    border: 1px solid #ffffff94;
    border-radius: 50px;
    /* Visual */
    background-blend-mode: overlay;
    /* Colors */
    background-color: #00000080;
    /* Shadow */
    box-shadow: 0 0 1px 0 white;
}

.progress-fill {
    /* Metrics */
    width: 10%;
    height: 100%;
    /* Border */
    border-radius: 50px;
    /* Visual */
    background-color: navajowhite;
}
